[submodule "lib/libft"]
	path = lib/libft
	url = https://github.com/Ludrak/libft
[submodule "lib/libvector"]
	path = lib/libvector
	url = https://github.com/Ludrak/libvector
[submodule "lib/libgnl"]
	path = lib/libgnl
	url = https://github.com/Ludrak/get_next_line
[submodule "lib/libmlx-linux"]
	path = lib/libmlx-linux
	url = https://github.com/42Paris/minilibx-linux